In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import math as m

In [2]:
dataset = pd.read_csv('../data/raw/BeijingPM20100101_20151231.csv', parse_dates = [['year', 'month', 'day', 'hour']])
dataset.rename(columns = {'year_month_day_hour': 'time'}, inplace = True)
dataset['time'] = [datetime.strptime(t, '%Y %m %d %H') for t in dataset['time']]
dataset.head()

,time,No,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,2010-01-01 00:00:00,1,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2010-01-01 01:00:00,2,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,2010-01-01 02:00:00,3,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,2010-01-01 03:00:00,4,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,2010-01-01 04:00:00,5,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0